/* COMMONS
   ----------------------------- */
ul,
ul li {
  list-style-type: disc;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.wysiwyg {
  line-height: 1.4;

  p {
    @extend .p0;
    @extend .m0;
    @extend .mb2;

    &:last-child {
      @extend .mb0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @extend .p0;
    @extend .m0;
    @extend .mb2;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}