/* FONTS
   ----------------------------- */
$sans-serif: 'Helvetica', 'Arial', sans-serif;

/* SPACINGS
   ----------------------------- */
$main-font-size: 16px;
$font--200: 2rem; //32px
$font--150: 1.5rem; //24px
$font--140: 1.4rem; //21px
$font--120: 1.125rem; //18px
$font--80: .875rem; //14px

$col--1: 8.33%;

/* BAR
   ----------------------------- */
$bar-width: 1.5rem;
$bar-height: 2px;
$bar-spacing: .5rem;

/* COLORS
   ----------------------------- */

/* ANIMATION
   ----------------------------- */
$cubic-bezier: cubic-bezier(0.455, 0.03, 0.515, 0.955);

/* MEDIA QUERIES
   ----------------------------- */
$breakpoint-sm-mx: '(max-width: 40em)'; // 640px
$breakpoint-md-mx: '(max-width: 52em)'; // 832px
$breakpoint-lg-mx: '(max-width: 64em)'; // 1024px
$breakpoint-xl-mx: '(max-width: 78em)'; // 1248px
