.toggle--menu {
  width: 2rem;
  height: 1rem;
  margin: calc(1.5625rem - 4px) 1.125rem 1.125rem 0;
  cursor: pointer;

  .bar {
    height: 2px;
    background: #FAFAFA;
    margin-top: 4px;
    position: relative;
    transition: 0.3s ease;
    transition-property: all;

    &:nth-child(1) {
      width: 100%;
    }

    &:nth-child(2) {
      width: 80%;

    }

    &:nth-child(3) {
      width: 60%;
    }
  }

  &.active {
    .bar {
      height: 2px;
      background: #FAFAFA;
      margin-top: 4px;

      &:nth-child(1) {
        width: 100%;
        transform: rotate(45deg);
        margin-top: 8px;
      }

      &:nth-child(2) {
        width: 100%;
        margin-left: 4rem;
        opacity: 0;
      }

      &:nth-child(3) {
        width: 100%;
        transform: rotate(-45deg);
        margin-top: -8px;
      }
    }
  }
}
