html {
  font-size: 16px; // 1rem
}

body {
  font-size: $main-font-size;
  font-family: $sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

* {
  box-sizing: border-box;
}

img {
  @extend .align-top;

  &.cover-image {
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
    height: 100%;
    width: 100%;
  }

  &.contain-image {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }

  &.lazy {
    opacity: .1;
    transition: opacity 0.6s 0.05s ease;
    image-rendering: pixelated;

    &.loaded {
      opacity: 1;
      image-rendering: auto;
    }

    &--gif {
      opacity: 1;
    }
  }
}

// FIX LAZY ON SAFARI
@media not all and (min-resolution:.001dpcm) { @supports (-webkit-appearance:none) {
  img.lazy {
    opacity: 1;
  }
}}

.fluid {
  width: 100%;
  height: auto;
}

.fluid-y {
  height: 100%;
}

.max-width-5 {
  max-width: 80rem; // 1280px
}

.cover {
  @extend .absolute;
  @extend .top-0;
  @extend .bottom-0;
  @extend .right-0;
  @extend .left-0;
}

.absolute-center {
  @extend .absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute-center-x {
  @extend .absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-center-y {
  @extend .absolute;
  top: 50%;
  transform: translateY(-50%);
}

.iframe-center {
  @extend .absolute-center;
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
}

.content-area {
  margin-top: 3.53rem;

  @media #{$breakpoint-md-mx} {
    margin-top: 4.4rem;
  }
}

.pointer {
  cursor: pointer;
}

.py25 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.md-py25 {
  @media (min-width: 52em) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.pt25 {
  padding-top: 2.5rem;
}

.pb25 {
  padding-bottom: 2.5rem;
}
